body{

margin:0;

font-family:Arial;

background:#fff8f5;

text-align:center;

color:#5a3d3d;

}

.cover{

height:100vh;

background:

linear-gradient(#0005,#0005),

url("foto.jpg");

background-size:cover;

background-position:center;

color:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

.cover h1{

font-size:60px;

font-family:cursive;

}

button{

padding:15px 30px;

border:none;

border-radius:30px;

background:#b77b7b;

color:white;

}

.content{

padding:40px;

}

.nama{

margin:50px 0;

}

.card{

background:white;

padding:20px;

margin:20px;

border-radius:20px;

box-shadow:0 5px 20px #0002;

}

img{

width:90%;

border-radius:20px;

}
